body{
    color:#b32668;
    background-color:#694E4E;
    font-size: x-large;
    /* font-family: 'Neonderthaw', cursive; */
    font-family: 'Lobster', cursive;    
    list-style-position: inside;
}
header {background-color: #886F6F; padding: 10px 30px;}
section {background-color:#C1A3A3; padding: 10px 30px;}
footer {background-color:#F3C5C5; padding: 10px 30px;}

/*hr {color:#694E4E}*/
img {
    border-radius: 15px; 
    border:solid; 
    border: width 5px; 
    border-color: #694E4E;
    margin-left: 10px;
}

.header_a_color {color:#F3C5C5}
.footer_a_color {color:#a3215e;}
